$title: #436372;
$accent: #fcd7b6;
$standart:#7b7b7b;

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%dmsans_18pt-400{
  font-family: 'DMSans_18pt-Regular',  sans-serif;
  font-weight: 400;
}
%dmsans_24pt-500{
  font-family: 'DMSans_24pt-Medium'sans-serif;
  font-weight: 500;
}
%dmsans_18pt-700{
  font-family: 'DMSans_18pt-Bold', sans-serif;
  font-weight: 700;
}