@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 45px 0 50px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 40px;
}

.logo__title {
  font-size: 36px;
  line-height: 40px;
  color: $title;
  margin-left: 10px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-link {
    transition: all .3s;
    color: $title;

    &:hover {
      color: $accent;
    }
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }
}

.user-nav {
  display: flex;

  &__link-item {
    padding: 0 10px;
  }

  &__link-search {
    border-radius: 50%;
    background-color: #edf1f4;
    padding: 20px 25px;
  }


  &__items {
    display: flex;
    background-color: #fcd7b6;
    border-radius: 100px/50px;
    padding: 20px 15px 10px;
    margin: 0 20px;
  }

  &__link-item {
    position: relative;
  }


  &__num {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    top: -10px;
    right: -5px;
  }

  &__link-icon4 {
    background-color: #a3bbc8;
    border-radius: 50%;
    padding: 20px;
  }
}

.footer {

  a {
    color: $standart;
    font-size: 14px;
    line-height: 24px;
  }

  @extend %rubik-400;


  &__logo {
    margin-bottom: 30px;
    margin-top: -15px;
    @extend %rubik-500;
  }
}

.footer-top {
  display: flex;
  padding: 75px 0 55px;

  &__contact {
    max-width: 200px;
    margin-right: 110px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 20px;
  }

  &__nav {
    width: 160px;
    margin-right: 150px;
  }

  &__item-title {
    margin-bottom: 30px;
    @extend %dmsans_18pt-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
  }

  &__item-list {
    margin-bottom: 20px;
  }

  &__item-form {
    margin-right: -30px;
  }

  &__text {
    margin-bottom: 40px;
    @extend %rubik-400;
  }


  &__form {
    @extend %dmsans_18pt-400;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 15px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-button {
    line-height: 21px;
    border: none;
    padding: 15px 20px;
    background-color: #a3bbc8;
    color: #fff;
    cursor: pointer;
  }

}

.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
  }

  &__item+.footer-bottom__item {
    margin-left: 15px;
  }
}

.slider {
  &__inner {
    position: relative;
  }

  &__item {
    background-image: url(../images/slider/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1770px;
    height: 100%;
  }

  &__content {
    padding: 225px 0 280px;
    margin-left: 300px;
    max-width: 380px;
  }

  &__title {
    font-size: 65px;
    line-height: 70px;
    color: $title;
    margin-bottom: 40px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $title;
    margin-bottom: 40px;
  }

  &__link {
    max-width: 200px;
    padding: 25px 30px;
    background-color: $bg;
    display: flex;
    cursor: pointer;
  }

  &-btn {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding-right: 60px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    margin-left: 45%;
    margin-top: -70px;

    li {
      padding: 0 10px;

      button {
        padding: 0;
        font-size: 11px;
        background-color: transparent;
        color: $title;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: none;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.offers {

  &__inner {
    background-color: #fef7f0;
  }

  &__items {
    padding: 45px 0;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;

  }

  .support {
    max-width: 200px;
  }

  .payment {
    max-width: 210px;
  }

  .support::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/support.png);
    left: -75px;
    width: 50px;
    height: 50px;
  }

  .delivery::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/delivery.png);
    left: -70px;
    width: 50px;
    height: 30px;
  }

  .payment::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/payment.png);
    left: -85px;
    width: 50px;
    height: 45px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 20px;
    @extend %dmsans_18pt-700;
    color: #414141;
    margin-bottom: 15px;
  }

  &__item-text {
    color: #585858;
    line-height: 25px;
    @extend %dmsans_18pt-400;
  }
}

.title {
  color: #191919;
  @extend %dmsans_18pt-700;
  font-size: 36px;
  line-height: 45px;

}

button.products-btn.mixitup-control-active {
  color: #191919;
}

button.design-btn.mixitup-control-active {
  color: #191919;

}


.products {
  padding-top: 75px;
  text-align: center;
  @extend %dmsans_18pt-700;

  &__top {
    padding: 40px 0 80px;
  }

  &-btn {
    border: none;
    color: $standart;
    background-color: #fff;
    cursor: pointer;
  }

  &-btn+.products-btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 40px;
  }
}

.products-item {
  max-width: 270px;
  height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img-box {
    height: 240px;
    position: relative;
    overflow: hidden;
  }

  &__images {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 20px;
    display: inline-block;
    position: absolute;
  }


  &__title {
    color: #243f4d;
    @extend %dmsans_24pt-500;
    padding-top: 40px;
  }

  &__price {
    color: $bg;
    padding: 16px 0 35px;
  }

  &__link-box {
    position: absolute;
    transition: all .3s;
    width: 165px;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
  }

  &:hover {
    .products-item__link-box {
      transform: translateY(0);
    }
  }


  &__link {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    margin: 0 auto;
    padding-top: 14px;

    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    path {
      fill: rgb(255, 255, 255);
    }

    background-color: rgb(163, 187, 200);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
}

.design {
  padding-bottom: 120px;
  text-align: center;
  @extend %dmsans_18pt-700;

  &__top {
    padding: 40px 0 80px;
  }

  &-btn {
    border: none;
    color: $standart;
    background-color: #fff;
    cursor: pointer;
  }

  &-btn+.design-btn {
    margin-left: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
  }
}

.design-item {
  width: 370px;
  height: 245px;
  background-repeat: no-repeat;
  background-color: #f8f8f8;

  &__title {
    color: #191919;
    font-size: 20px;
    line-height: 25px;
  }

  &__subtitle {
    color: $bg;
  }

  &__content {
    padding: 40px;
    text-align: start;
    max-width: 255px;
  }
}

.video__inner {
  max-width: 1900px;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  padding: 170px 0 105px;

  &__inner {
    display: flex;
  }

  &__item {
    background-color: #feefe2;
    width: 870px;
    height: 385px;
  }

  &__title {
    color: #243f4d;
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans_18pt-700;
    margin-bottom: 30px;
  }

  &__text {
    color: #243f4d;
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }

  &__link {
    max-width: 185px;
    border: 1px solid #b3b7b5;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 25px 20px;
  }

  &-btn {
    color: $title;
    font-size: 15px;
    line-height: 18px;
    @extend %rubik-500;
    margin-right: 30px;
  }


  &__mirum {
    margin-right: 30px;
  }

  &__content-mirum {
    padding: 100px 0 95px;
    margin-left: 390px;
    width: 335px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/mirum.png);
      top: -100px;
      left: -250px;
      width: 230px;
      height: 405px;
    }
  }


  &__content-tempor {
    padding: 80px 0 85px;
    margin-left: 430px;
    position: relative;
    max-width: 295px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/tempor.png);
      top: -100px;
      left: -280px;
      width: 220px;
      height: 400px;
    }
  }
}

.articles {
  padding-top: 120px;

  &__inner {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    line-height: 0;
    color: #262626;
    @extend %dmsans_18pt-700;
    padding-top: 7px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icons/arrow-view.png);
      width: 7px;
      height: 12px;
      right: -20px;
      top: 2px;
    }
  }

  &__item-imglink {
    display: flex;
    justify-content: space-between;

  }

  &__item-img {
    max-width: 370px;



  }


  &__item-inner {
    background-color: #fef7f0;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
  }

  &__item-box {
    background-color: #fff;
    padding: 35px 30px;
    width: 370px;
  }

  &__item-title {
    color: #262626;
    font-size: 18px;
    @extend %dmsans_24pt-500;
    margin-bottom: 20px;
    height: 65px;
  position: relative;
  }

  &__item-title::before {
    content: 'NEWS';
    color: #fff;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    position: absolute;
    width: 103px;
    height: 30px;
    top: -50px;
    left: 0;
    background-image: url(../images/articles/articles-news.png)
  }
  


  &__item-info {
    @extend %rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
  }

  &__item-author {
    margin-left: 30px;
  }

  &__partners-list {
    padding: 90px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

















@import 'media';