<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>glee</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
  {% include 'app/module/_header/_header.html'%}
  <main>
    <section class="breadcrumbs">
      <div class="container">
        <h2 class="breadcrumbs__title">Blog</h2>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Blog </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="blog">
      <div class="container">
        <div class="blog__inner">
          <div class="blog-content">
            <div class="blog-content__item">
              <a class="blog-content__item-link" href="#">
                <img class="blog-content__item-img" src="images/blog/1.jpg" alt="blog img">
              </a>
              <div class="blog-content__item-info">
                <div class="blog-content__item-date">
                  28 JANUARY, 2020
                </div>
                <span class="blog-content__item-author">
                  BY ADMIN
                </span>
              </div>
              <a class="blog-content__item-link" href="#">
                <h3 class="blog-content__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
              </a>
              <p class="blog-content__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-content__link">
                <p class="blog-content__btn">View Now</p>
              </a>
            </div>
            <div class="blog-content__item">
              <a class="blog-content__item-link" href="#">
                <img class="blog-content__item-img" src="images/blog/2.jpg" alt="blog img">
              </a>
              <div class="blog-content__item-info">
                <div class="blog-content__item-date">
                  28 JANUARY, 2020
                </div>
                <span class="blog-content__item-author">
                  BY ADMIN
                </span>
              </div>
              <a class="blog-content__item-link" href="#">
                <h3 class="blog-content__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
              </a>
              <p class="blog-content__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-content__link">
                <p class="blog-content__btn">View Now</p>
              </a>
            </div>
            <div class="blog-content__item">
              <a class="blog-content__item-link" href="#">
                <img class="blog-content__item-img" src="images/blog/3.jpg" alt="blog img">
              </a>
              <div class="blog-content__item-info">
                <div class="blog-content__item-date">
                  28 JANUARY, 2020
                </div>
                <span class="blog-content__item-author">
                  BY ADMIN
                </span>
              </div>
              <a class="blog-content__item-link" href="#">
                <h3 class="blog-content__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
              </a>
              <p class="blog-content__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-content__link">
                <p class="blog-content__btn">View Now</p>
              </a>
            </div>
            <div class="blog-content__item">
              <a class="blog-content__item-link" href="#">
                <img class="blog-content__item-img" src="images/blog/4.jpg" alt="blog img">
              </a>
              <div class="blog-content__item-info">
                <div class="blog-content__item-date">
                  28 JANUARY, 2020
                </div>
                <span class="blog-content__item-author">
                  BY ADMIN
                </span>
              </div>
              <a class="blog-content__item-link" href="#">
                <h3 class="blog-content__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
              </a>
              <p class="blog-content__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-content__link">
                <p class="blog-content__btn">View Now</p>
              </a>
            </div>
            <div class="pagination pagination-blog">
              <button class="pagination__btn pagination__btn--active">1</button>
              <button class="pagination__btn">2</button>
              <button class="pagination__btn">3</button>
              <button class="pagination__btn-next">NEXT</button>
            </div>
          </div>

          <div class="blog-aside">
            <form class="blog-aside__search">
              <input  class="blog-aside__input" type="text">
              <button class="blog-aside__btn">
                <img class="blog-aside__btn-img" src="images/icons/search-blog.png" alt="search img" >
              </button>
            </form>
            <div class="filter__item filter-category">
              <h3 class="filter__title">Category</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>
                      Chair
                    </span>
                    <span>
                      <img src="images/icons/category-arrow.png" alt="category">
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span>
                      Table
                    </span>
                    <span>
                      <img src="images/icons/category-arrow.png" alt="category">
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>
                      Lamp
                    </span>
                    <span>
                      <img src="images/icons/category-arrow.png" alt="category">
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>
                      Watch
                    </span>
                    <span>
                      <img src="images/icons/category-arrow.png" alt="category">
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>
                      Clock
                    </span>
                    <span>
                      <img src="images/icons/category-arrow.png" alt="category">
                    </span>
                  </div>
                </label>
              </form>
            </div>

            <div class="recent-post">
              <h3 class="filter__title">recent post</h3>
              <div class="recent-post__item">
                <a class="recent-post__img-link"  href="#">
                  <img  class="recent-post__img" src="images/blog/recent post/1.jpg" alt="recent img" >
                </a>
                <div class="recent-post__box">
                  <h5 class="recent-post__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#">
                  <img class="recent-post__img" src="images/blog/recent post/1.jpg" alt="recent img">
                </a>
                <div class="recent-post__box">
                  <h5 class="recent-post__title">
                  Fdipisicing elit, sed do eiusmod tempor
                  </h5>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#">
                  <img class="recent-post__img" src="images/blog/recent post/1.jpg" alt="recent img">
                </a>
                <div class="recent-post__box">
                  <h5 class="recent-post__title">
                  Eonsectetur adipisicing elit, sed do eiusmod
                  </h5>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#">
                  <img class="recent-post__img" src="images/blog/recent post/1.jpg" alt="recent img">
                </a>
                <div class="recent-post__box">
                  <h5 class="recent-post__title">
                    Corem ipsum dolor tetur adipisicing elit
                  </h5>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>






  </main>
{% include 'app/module/_partners/_partners.html' %}
{% include 'app/module/_footer/_footer.html' %}














  <script src="js/main.min.js"></script>
</body>

</html>