.features {
  padding: 170px 0 105px;

  &__inner {
    display: flex;
  }

  &__item {
    background-color: #feefe2;
    width: 870px;
    height: 385px;
  }

  &__title {
    color: #243f4d;
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans_18pt-700;
    margin-bottom: 30px;
  }

  &__text {
    color: #243f4d;
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }

  &__link {
    max-width: 185px;
    border: 1px solid #b3b7b5;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 25px 20px;
  }

  &-btn {
    color: $title;
    font-size: 15px;
    line-height: 18px;
    @extend %rubik-500;
    margin-right: 30px;
  }


  &__mirum {
    margin-right: 30px;
  }

  &__content-mirum {
    padding: 100px 0 95px;
    margin-left: 390px;
    width: 335px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/mirum.png);
      top: -100px;
      left: -250px;
      width: 230px;
      height: 405px;
    }
  }


  &__content-tempor {
    padding: 80px 0 85px;
    margin-left: 430px;
    position: relative;
    max-width: 295px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/tempor.png);
      top: -100px;
      left: -280px;
      width: 220px;
      height: 400px;
    }
  }
}