.articles {
  padding-top: 120px;

  &__inner {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 27px;
  }

  &__subtitle {
    line-height: 0;
    color: #262626;
    @extend %dmsans_18pt-700;
    padding-top: 7px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icons/arrow-view.png);
      width: 7px;
      height: 12px;
      right: -20px;
      top: 2px;
    }
  }


  &__items {
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
  }



  &__item-box+.articles__item-box {
    margin-left: 20px;
  }

  &__item-box {
    width: 370px;
  }

  &__item-title {
    padding: 10px 0;
    color: #262626;
    font-size: 18px;
    @extend %dmsans_24pt-500;
    margin-bottom: 20px;
    height: 65px;
    position: relative;
  }

  &__item-title::before {
    content: 'NEWS';
    color: #fff;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    position: absolute;
    width: 103px;
    height: 30px;
    top: -33px;
    left: 0;
    background-image: url(../images/articles/articles-news.png)
  }


  &__item-info {
    @extend %rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
  }

  &__item-author {
    margin-left: 30px;
  }

}

@media(max-width:1200px) {
  .articles {
    &__items {
      justify-content: space-around;
    }
  }
}

@media(max-width:900px) {
  .articles {
    &__items {
      display: block;
    }

    &__item-box {
      padding: 20px 0;
      width: 100%;
    }

    &__item-box+.articles__item-box {
      margin-left: 0;
    }

    &__item-title {
      margin-bottom: 0;
    }

    &__item-img {
      object-fit: cover;
      height: 370px;
      width: 100%;
    }
  }
}

@media(max-width:600px) {
  .articles {
    &__inner {
      display: block;
      margin-bottom: 20px;
    }

    &__subtitle::after {
      top: 11px;
    }

    &__item-img {
      height: 300px;

    }
  }
}

@media(max-width:450px) {
  .articles {
   padding-top: 60px;
  
    &__item-img {
      height: 250px;
    }
  }
}

@media(max-width:450px) {
  .articles {
    &__item-title {
      margin-bottom: 10px;
    }

    &__item-img {
      height: 200px;
    }
  }
}