.slider {
  &__inner {
    position: relative;
  }

  &__item {
    background-image: url(../images/slider/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1770px;
    height: 100%;
  }

  &__content {
    padding: 225px 0 280px;
    margin-left: 300px;
    max-width: 380px;
  }

  &__title {
    font-size: 65px;
    line-height: 70px;
    color: $title;
    margin-bottom: 40px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $title;
    margin-bottom: 40px;
  }

  &__link {
    max-width: 200px;
    padding: 25px 30px;
    background-color: $bg;
    display: flex;
    cursor: pointer;
  }

  &-btn {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding-right: 60px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    margin-left: 45%;
    margin-top: -70px;

    li {
      padding: 0 10px;

      button {
        padding: 0;
        font-size: 11px;
        background-color: transparent;
        color: $title;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: none;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}